hr {
    margin: 30px 0;
}

.container-1,
.container-1-2,
.container-2 {
    border: solid 1px #cccccc;
    padding: 10px;
    margin-bottom: 20px;
}

.container-1 {
    display: grid;
}

.container-1-2 {
    display: inline-grid;
}

/* AULA 2 - display: grid; columns, row */
.container-2 {
    display: grid;

    grid-template-columns: 200px 200px 200px;

    /* Neste caso ele atribuiu auto um linha para o item-7 */
    grid-template-rows: 200px 200px;
}

/* AULA 2 - display: grid; unidade de medida 1fr (uma fração do espado) */
.container-2-1 {
    height: 400px;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    /* Caso não tenha um height definido, não haverá
     * referência para o calculo das frações */
    grid-template-rows: 1fr 2fr 1fr;
}

/* AULA 2 - display: grid; 1fr repet */
.container-2-2 {
    height: 400px;

    display: grid;

    /* grid-template-columns: 1fr repeat(2, 1fr); */
    /* grid-template-columns: repeat(2, 2.5fr 0.5fr); */

    /* auto-fill => aloca o espado mesmo se nao houver o elemento, auto-fit => nao aloca */
    grid-template-columns: repeat(auto-fit, 100px);

    /* Caso não tenha um height definido, não haverá
   * referência para o calculo das frações */
    grid-template-rows: repeat(2, 1fr);
}

.container-2-3 {
    height: 400px;

    display: grid;

    /* O auto vai completar os espaços na proporção do conteúdo */
    grid-template-columns: min-content max-content auto auto;

    /* Se usado com o 1fr o 1fr tem prioridade
   * e o auto vai se comportar como o min-content */
    grid-template-rows: auto 1fr;
}

.item {
    border: solid 1px #000000;
    background: #ccc;
}
.item-1 {
    background-color: #e97777;
}

.item-2 {
    background-color: #fffad7;
}

.item-3 {
    background-color: #ff9f9f;
}

.item-4 {
    background-color: #fcddb0;
}

.item-4 {
    background-color: #bce29e;
}

.item-6 {
    background-color: #ff8dc7;
}

.item-7 {
    background-color: #b1afff;
}
