body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);

  grid-template-areas:
    'header header header header'
    'main main . sidebar'
    'footer footer footer footer';
}

header {
  background-color: orange;

  /* property item */
  grid-area: header;  
}

main {
  background-color: deepskyblue;
  /* property item */
  grid-area: main;
}

aside {
  background-color: lightcoral;
  /* property item */
  grid-area: sidebar;  
}

footer {
  background-color: yellowgreen;
  /* property item */
  grid-area: footer;  
}
